/*Sets all text colour to white*/
* {
  color: #FFFFFF
}

main {
  background: #757575
}

/*The colour for the links*/
a:link {
  color: #757575
}

a:visited {
  color: #757575
}

a:hover {
  color: #757575
}

a:active {
  color: #757575
}

header {
  background-color: #0D2063;
  display: flex;
}

h1 {
  font-family: 'Barlow', sans-serif;
  padding-left: 20px;

}

ul {
  flex: right;
}

li {
  display: flex;
  float: left;
  flex-direction: row-reverse;
  font-family: 'Sarala', sans-serif;
  display: block;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  flex-direction: row-reverse;
}

.ProjectOne {
  background: #757575;
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 10px;
}

#ProjectOneInfoOne {
  position: absolute;
  top: 10px;
  left: 650px;
  padding-top: 80px;
  padding-right: 20px;
}

#ProjectOneInfoTwo {
  position: absolute;
  top: 130px;
  left: 650px;
  padding-top: 80px;
  padding-right: 20px;
}

.ProjectTwo {
  background: #757575;
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  padding-left: 10px;
  padding-bottom: 3px;
}

#ProjectTwoInfoOne {
  position: absolute;
  top: 270px;
  left: 650px;
  padding-top: 80px;
  padding-right: 20px
}

#ProjectTwoInfoTwo {
  position: absolute;
  top: 400px;
  left: 650px;
  padding-top: 80px;
  padding-right: 20px;
}

.ProjectThree {
  background: #0A090C;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}

#ProjectThreeInfoOne {
  position: absolute;
  top: 550px;
  left: 650px;
  padding-top: 80px;
  padding-right: 20px;
}

#ProjectThreeInfoTwo {
  position: absolute;
  top: 690px;
  left: 650px;
  padding-top: 80px;
  padding-right: 20px;
}
